{% load static %}
<html>
<head>
  <title>DAT Data</title>
<!--    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"
   integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ=="
   crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"
   integrity="sha512-A7vV8IFfih/D732iSSKi20u/ooOfj/AGehOKq0f4vLT1Zr2Y+RX7C+w8A1gaSasGtRUZpF/NZgzSAu4/Gc41Lg=="
   crossorigin=""></script> -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.1/leaflet.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

  <style>
    #map{ height: 100% }
  </style>
</head>
<body>
<div class="row">
    <div class="col">
      <h4>Select Customer</h4>
      <select class="browser-default custom-select" name="Select Customer[]" id="customer-select" onChange="generateShipper()" style="height:200px;" multiple>
        {% for items in customers %}
            <option value="{{items}}">{{items}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col">
      <h4>Select Shipper</h4>
      <select class="browser-default custom-select" name="Select_Shipper[]" id="shipper-select" onChange="generateReceiver()"  style="height:200px;" multiple>
        
        <option value=""></option>
      </select>
    </div>
    <div class="col">
      <h4>Select Receiver</h4>
      <select class="browser-default custom-select" name="Select_Receiver"  style="height:200px;" id="receiver-select">
        <option value=""></option>
      </select>
      <input id="time" type="text" name="daterange" onchange="updateArcTime()"/>
      <button id="generate">Run</button>
    </div>
</div>

<div class="card" style="
    padding-left: 10px;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
">
<div id="map" style="height: 908;"></div>

</div>
<table>
    <tr onclick="myFunction(this.rowIndex)">
      <td>Click to show rowIndex</td>
    </tr>
    <tr onclick="myFunction(this.rowIndex)">
      <td>Click to show rowIndex</td>
    </tr>
    <tr onclick="myFunction(this.rowIndex)">
      <td>Click to show rowIndex</td>
    </tr>
</table>
  
<script>
    function myFunction(x) {
        alert("Row index is: " + x);
    }
</script>



<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<!-- <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.16/js/bootstrap-multiselect.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.1/leaflet.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/leaflet.heat/0.2.0/leaflet-heat.js'></script>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/javascript.util/0.12.12/javascript.util.min.js"></script> -->
 <script src='https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.1.0/chroma.min.js'></script>
 <!-- <script src='https://unpkg.com/leaflet-arc/bin/leaflet-arc.min.js'></script> -->
  <!-- <script src="{% static 'js/leaflet-arrowheads.js' %}"></script> -->

  <!-- <script src="{% static 'js/leaflet-arrowheads.js' %}"></script> -->
<script src="{% static 'js/leaflet.polylineDecorator.js' %}"></script>
  <script>
  $(function() {
    $('input[name="daterange"]').daterangepicker({
      opens: 'left'
    }, function(start, end, label) {
      console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
    });
  });
  // initialize the map
  var map = L.map('map').setView([41.25861, -95.9375], 6);
 var colors = [
  // "#ffffff",
  "#fcff94",
  "#f1a692",
  // "#fabe8c",
  "#e0769e",
  "#9a5caf",
  "#4b4ba5",
  // "#000000",
];
var colorScale2_ = chroma.scale(colors).domain([0, 1]).mode('lab').correctLightness();

var colorScale = function (value) {
  const color = colorScale2_(value);
  return color;
};
  // load a tile layer
  var mapbox = L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
      attribution: 'Map data © <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
      maxZoom: 16,
      id: 'mapbox/streets-v11',
      tileSize: 512,
      zoomOffset: -1,
    accessToken: 'pk.eyJ1IjoieXNmMTIzNzQiLCJhIjoiY2s4eTAzemw4MHJoMzNvbWl1a3FqY243NiJ9.0AwCckEj0uyhGaA8DhoQkw'
  }).addTo(map);

function generateShipper() {
      var cust = $('#customer-select').val();
      var select1 = document.getElementById("customer-select");
      var select2 = document.getElementById("shipper-select");
      if(select2.options.length > 0) {
        while (select2.options.length>0) {
          select2.remove(0);
          }
        }
      select2 = document.getElementById("shipper-select");
      option = document.createElement("option");
      option.text = "ALL";
      select2.add(option);
      $.ajax({
          url: "{% url 'just_map_v5_shipper_api' %}",
          type: "get",
          data: { customer: cust} ,
          success: function(response) {
            var shippers= response.shippers;
            select2 = document.getElementById("shipper-select");
            for(var k = 0; k < shippers.length; k++)
             {
               var option2 = document.createElement("option"),
                   txt = document.createTextNode(shippers[k][1]);
               option2.appendChild(txt);
               option2.setAttribute("value",shippers[k][0]);
               select2.insertBefore(option2,select2.lastChild);
             }
          },
          error: function(xhr) {
            console.log(xhr);
          }
    });
}

function generateReceiver() {
      var cust = $('#customer-select').val();
      var ship = $('#shipper-select').val();
      var select1 = document.getElementById("customer-select");
      var select2 = document.getElementById("shipper-select");
      var select3 = document.getElementById("receiver-select");
      if(select3.options.length > 0) {
        while (select3.options.length>0) {
          select3.remove(0);
          }
        }
      select3 = document.getElementById("receiver-select");
      option = document.createElement("option");
      option.text = "ALL";
      select3.add(option);
      $.ajax({
          url: "{% url 'just_map_v5_receiver_api' %}",
          type: "get",
          data: { customer: cust, shipper: ship} ,
          success: function(response) {
            var receivers= response.receivers;
            select3 = document.getElementById("receiver-select");
            for(var k = 0; k < receivers.length; k++)
             {
               var option3 = document.createElement("option"),
                   txt = document.createTextNode(receivers[k][1]);
               option3.appendChild(txt);
               option3.setAttribute("value",receivers[k][0]);
               select3.insertBefore(option3,select3.lastChild);
             }
          },
          error: function(xhr) {
            console.log(xhr);
          }
    });
}


function clearMap(){
    for(i in map._layers){
      console.log(map._layers[i]);
      try{map.removeLayer(map._layers[i]);}
      catch(error){console.log(error);}
      
        // if(map._layers[i]._path != undefined)
        // {
        //     try{
        //         map.removeLayer(map._layers[i]);
        //     }
        //     catch(e){
        //         console.log("problem with " + e + map._layers[i]);
        //     }
        // }
        // else if(map._layers[i]._heat)
        // {
        //     try{
        //         map.removeLayer(map._layers[i]);
        //     }
        //     catch(e){
        //         console.log("problem with " + e + map._layers[i]);
        //     }
        // }

    }
}
// var arc_group = L.featureGroup();
var arc;
document.getElementById('generate').onclick = function() {
    var select1 = document.getElementById("customer-select");
    var select2 = document.getElementById("shipper-select");
    var select3 = document.getElementById("receiver-select");
    var cust = $('#customer-select').val();
    var ship = $('#shipper-select').val();
    var recv = $('#receiver-select').val();
    map.eachLayer(function (layer) {
      if (!layer._url) {
        map.removeLayer(layer);
      }
    });
    // if (arc===1){
    //  map.removeLayer(arc_group); 
    // }

    $.ajax({
          url: "{% url 'just_map_v5_api' %}",
          type: "get", //send it through get method
          data: { customer: cust, shipper:ship,
           receiver:select3.value} ,
          success: function(response) {
                var heats = response.data;
                var shipperz = response.shippers;
                var receiverz = response.receivers;
                heats.forEach(function (item, index) {
                  try {
                      var arrow = L.polyline([item[0],
                       item[1]], {color: item[3],
                            vertices: 200 ,
                            weight: item[2],
                            opacity: 0.5}).addTo(map);//.addTo(map);
                      var arrowHead = L.polylineDecorator(arrow, {
                          patterns: [
                              {offset: '100%', repeat: 0, symbol: L.Symbol.arrowHead({pixelSize: 5, polygon: false, pathOptions: {color: item[3],stroke: true}})}
                          ]
                      }).addTo(map);//.addTo(map);
                      
                      popUp='<table style="width:100%">\
                              <tr>\
                                <th>Origin City</th>\
                                <th>Destination City</th>\
                                <th>Standard Van 53</th>\
                                <th>Standard Reefer 53</th>\
                                <th>Standard Van 48</th>\
                                <th>Standard Reefer 48</th>\
                              </tr>\
                              <tr>\
                                <td>'+item[4][0]['origin_data']+'</td>\
                                <td>'+item[4][0]['destination_data']+'</td>\
                                <td>'+item[4][0]['Standard Van 53']+'</td>\
                                <td>'+item[4][0]['Standard Reefer 53']+'</td>\
                                <td>'+item[4][0]['Standard Van 48']+'</td>\
                                <td>'+item[4][0]['Standard Reefer 48']+'</td>\
                              </tr>\
                            </table>';
                      // tmp1=arrow.bindTooltip(popUp);
                      // tmp1.addTo(arc_group);
                      // tmp1.openPopup();
                      // tmp1=arrowHead.bindTooltip(popUp);
                      // tmp1.addTo(arc_group);
                      // tmp1.openPopup();
                      arrow.bindTooltip(popUp);
                      arrowHead.bindTooltip(popUp);
                  }
                  catch(err) {
                    console.log(err);
                  }
                });
                $.ajax({
                        url: "{% url 'just_map_v5_heat_api' %}",
                        type: "get", //send it through get method
                        data: {customer: cust, shipper:ship,
                                receiver:select3.value} ,
                        success: function(response) {
                            var heat_r = response.receiver;
                            var heatr = L.heatLayer(heat_r, { radius: 30 });
                            //map.addLayer(heatr);
                            heatr.addTo(map);
                            var heat_s = response.shipper;
                            var heats = L.heatLayer(heat_s, { radius: 30 });
                            //map.addLayer(heatr);
                            heats.addTo(map);
                        },
                        error: function(xhr) {
                        //Do Something to handle error
                            console.log(xhr);
                        }
                    });
              },
              error: function(xhr) {
              //Do Something to handle error
                console.log(xhr);
              }
        });
        // map.addLayer(arc_group);
        // arc=1;
} 

function updateArcTime() {
    var select1 = document.getElementById("customer-select");
    var select2 = document.getElementById("shipper-select");
    var select3 = document.getElementById("receiver-select");
    var cust = $('#customer-select').val();
    var ship = $('#shipper-select').val();
    var recv = $('#receiver-select').val();
    var time= document.getElementById("time").value;
    map.eachLayer(function (layer) {
      if (!layer._url) {
        map.removeLayer(layer);
      }
    });
    // if (arc===1){
    //  map.removeLayer(arc_group); 
    // }

    $.ajax({
          url: "{% url 'just_map_v5_time_api' %}",
          type: "get", //send it through get method
          data: { customer: cust, shipper:ship,
           receiver:select3.value,times:time} ,
          success: function(response) {
                console.log("passed");
                var heats = response.data;
                var shipperz = response.shippers;
                var receiverz = response.receivers;
                heats.forEach(function (item, index) {
                  try {
                      var arrow = L.polyline([item[0],
                       item[1]], {color: item[3],
                            vertices: 200 ,
                            weight: item[2],
                            opacity: 0.5}).addTo(map);//.addTo(map);
                      var arrowHead = L.polylineDecorator(arrow, {
                          patterns: [
                              {offset: '100%', repeat: 0, symbol: L.Symbol.arrowHead({pixelSize: 5, polygon: false, pathOptions: {color: item[3],stroke: true}})}
                          ]
                      }).addTo(map);//.addTo(map);
                      
                      popUp='<table style="width:100%">\
                              <tr>\
                                <th>Origin City</th>\
                                <th>Destination City</th>\
                                <th>Standard Van 53</th>\
                                <th>Standard Reefer 53</th>\
                                <th>Standard Van 48</th>\
                                <th>Standard Reefer 48</th>\
                              </tr>\
                              <tr>\
                                <td>'+item[4][0]['origin_data']+'</td>\
                                <td>'+item[4][0]['destination_data']+'</td>\
                                <td>'+item[4][0]['Standard Van 53']+'</td>\
                                <td>'+item[4][0]['Standard Reefer 53']+'</td>\
                                <td>'+item[4][0]['Standard Van 48']+'</td>\
                                <td>'+item[4][0]['Standard Reefer 48']+'</td>\
                              </tr>\
                            </table>';
                      // tmp1=arrow.bindTooltip(popUp);
                      // tmp1.addTo(arc_group);
                      // tmp1.openPopup();
                      // tmp1=arrowHead.bindTooltip(popUp);
                      // tmp1.addTo(arc_group);
                      // tmp1.openPopup();
                      arrow.bindTooltip(popUp);
                      arrowHead.bindTooltip(popUp);
                  }
                  catch(err) {
                    console.log(err);
                  }
                });
                $.ajax({
                        url: "{% url 'just_map_v5_heat_api' %}",
                        type: "get", //send it through get method
                        data: {customer: cust, shipper:ship,
                                receiver:select3.value,times:time} ,
                        success: function(response) {
                            var heat_r = response.receiver;
                            var heatr = L.heatLayer(heat_r, { radius: 30 });
                            //map.addLayer(heatr);
                            heatr.addTo(map);
                            var heat_s = response.shipper;
                            var heats = L.heatLayer(heat_s, { radius: 30 });
                            //map.addLayer(heatr);
                            heats.addTo(map);
                        },
                        error: function(xhr) {
                        //Do Something to handle error
                            console.log(xhr);
                        }
                    });
                },
              error: function(xhr) {
              //Do Something to handle error
                console.log(xhr);
              }
        });
        // map.addLayer(arc_group);
        // arc=1;
}



function getRandomColor() {
  var letters = '0123456789ABCDEF';
  var color = '#';
  for (var i = 0; i < 6; i++) {
    color += letters[Math.floor(Math.random() * 16)];
  }
  return color;
}
var all_dest;
function onEachFeature (feature, layer) {

    layer.on('mouseover', function (e) {
        var popuptext = `<p><table>
        <tr><td><em>Records in area</em></td><td><strong>: ${feature.properties.name}</strong></td></tr>
    </table></p>`;
      layer.bindPopup(popuptext);
      this.openPopup();
      });
    layer.on('click', function (e) {

      this.openPopup();

      var name = `${feature.properties.name}`;
      // var id = `${feature.properties.id}`;
      // var select = document.getElementById("example-select");
      // select.options.length = 0;
    var select1 = document.getElementById("customer-select");
    var select2 = document.getElementById("shipper-select");
    var select3 = document.getElementById("receiver-select");
    try{
      map.removeLayer(arc_group);
    }
    catch(err){
      console.log(err);
    }
    
    $.ajax({
          url: "{% url 'just_map_v4_api' %}",
          type: "get", //send it through get method
          data: { customer: select1.value, shipper:select2.value,
           receiver:select3.value,
            name: name} ,
          success: function(response) {
                var heats = response.data;
                var shipperz = response.shippers;
                var receiverz = response.receivers;
                heats.forEach(function (item, index) {
                  try {
                      var arrow = L.polyline([item[0],
                       item[1]], {color: item[3],
                            vertices: 200 ,
                            weight: item[2],
                            opacity: 0.5});//.addTo(map);
                      var arrowHead = L.polylineDecorator(arrow, {
                          patterns: [
                              {offset: '100%', repeat: 0, symbol: L.Symbol.arrowHead({pixelSize: 15, polygon: false, pathOptions: {color: item[3],stroke: true}})}
                          ]
                      });//.addTo(map);
                      
                      popUp='<table style="width:100%">\
                              <tr>\
                                <th>Origin City</th>\
                                <th>Destination City</th>\
                                <th>Standard Van 53</th>\
                                <th>Standard Reefer 53</th>\
                                <th>Standard Van 48</th>\
                                <th>Standard Reefer 48</th>\
                              </tr>\
                              <tr>\
                                <td>'+item[4][0]['origin_data']+'</td>\
                                <td>'+item[4][0]['destination_data']+'</td>\
                                <td>'+item[4][0]['Standard Van 53']+'</td>\
                                <td>'+item[4][0]['Standard Reefer 53']+'</td>\
                                <td>'+item[4][0]['Standard Van 48']+'</td>\
                                <td>'+item[4][0]['Standard Reefer 48']+'</td>\
                              </tr>\
                            </table>';
                      tmp1=arrow.bindTooltip(popUp);
                      tmp1.addTo(arc_group);
                      tmp1.openPopup();
                      tmp1=arrowHead.bindTooltip(popUp);
                      tmp1.addTo(arc_group);
                      tmp1.openPopup();

                  }
                  catch(err) {
                    console.log(err);
                  }
                });
              },
              error: function(xhr) {
              //Do Something to handle error
                console.log(xhr);
              }
        });
        map.addLayer(arc_group);
      });

    layer.on('mouseout', function (e) {
          this.closePopup();
      });

  }

// var locations={{feats|safe}};
// var layer = L.geoJson(false, {
//   onEachFeature: onEachFeature
// }).addTo(map);  
// function attivita_style (feature, layer) {
//       const color = colorScale(feature.properties.pop);
//       return {
//       "color":  color,
//       "weight": 5,
//       }
//     }
// // clearMap();
// // layer.clearLayers();
// layer.addData(locations).setStyle(attivita_style);
  </script>
</body>
</html>