{% load static %}
<html>
<head>
  <title>DAT Data</title>
<!--    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"
   integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ=="
   crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"
   integrity="sha512-A7vV8IFfih/D732iSSKi20u/ooOfj/AGehOKq0f4vLT1Zr2Y+RX7C+w8A1gaSasGtRUZpF/NZgzSAu4/Gc41Lg=="
   crossorigin=""></script> -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.1/leaflet.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <style>
    #map{ height: 100% }
  </style>
</head>
<body>
<div class="row">
  <div class="col">
    <h4>Select Customer</h4>
    <select class="browser-default custom-select" name="Select Customer" id="customer-select" onChange="updateMapItems(this.value);">
      {% for items in customers %}
          <option value="{{items}}">{{items}}</option>
      {% endfor %}
    </select>
  </div>
  <div class="col">
    <h4>Select Shipper</h4>
    <select class="browser-default custom-select" name="Select_Shipper" id="shipper-select" onChange="updateArcs(this.value);">
      <option value=""></option>

    </select>
  </div>
  <div class="col">
    <h4>Select Receiver</h4>
    <select class="browser-default custom-select" name="Select_Receiver" id="receiver-select" onChange="updateArcs(this.value);">
      <option value=""></option>

    </select>
  </div>
</div>


<div class="card" style="
    padding-left: 10px;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
">
<div id="map" style="height: 908;"></div>
 <div class="row">
  <div class="col"></div>
  <div class="col">  <div>
<div id="heal">
    <canvas id="myChart"></canvas>
  </div>
<div id="sheild">
    <canvas id="myChart2"></canvas>
  </div>
</div></div>
</div>
</div>


<div class="card" style="
    padding-left: 10px;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
">
  <div class="row">
  <div class="col-sm-8">  <div>
<select class="browser-default custom-select" name="Select State" id="example-select" onChange="destFunc(this.value);"></select>
<div id="attack">
    <canvas id="myChart4"></canvas>
  </div>
</div></div>
  <div class="col-sm-4"><div id="hurt">
    <br>
    <canvas id="myChart3"></canvas>
  </div></div>
</div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.1/leaflet.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/leaflet.heat/0.2.0/leaflet-heat.js'></script>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/javascript.util/0.12.12/javascript.util.min.js"></script> -->
 <script src='https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.1.0/chroma.min.js'></script>
 <!-- <script src='https://unpkg.com/leaflet-arc/bin/leaflet-arc.min.js'></script> -->
  <!-- <script src="{% static 'js/leaflet-arrowheads.js' %}"></script> -->

  <!-- <script src="{% static 'js/leaflet-arrowheads.js' %}"></script> -->
<script src="{% static 'js/leaflet.polylineDecorator.js' %}"></script>
  <script>
  // initialize the map
  var map = L.map('map').setView([41.25861, -95.9375], 13);
 
  // load a tile layer
  var mapbox = L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
      attribution: 'Map data © <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
      maxZoom: 16,
      id: 'mapbox/streets-v11',
      tileSize: 512,
      zoomOffset: -1,
    accessToken: 'pk.eyJ1IjoieXNmMTIzNzQiLCJhIjoiY2s4eTAzemw4MHJoMzNvbWl1a3FqY243NiJ9.0AwCckEj0uyhGaA8DhoQkw'
  }).addTo(map);

    // var heat = L.heatLayer(locations, { radius: 35 });
    // map.addLayer(heat);

  // var myVector = L.polyline([[8.132728,-85.897973],[40.611564 -80.265498]])

  // var myVector = L.Polyline.Arc([38.132728,-85.897973],
  //  [40.611564, -80.265498], {
  //         color: 'blue',
  //         vertices: 200 ,
  //         weight: 1
  //       });
  // myVector.addTo(map);
    var popUp;
    var tmp;
    var arc_group = L.featureGroup();
    $.ajax({
          url: "{% url 'just_map_v2_api' %}",
          type: "get", //send it through get method
          // data: { lat: lat, lon: lon, dist: dist} ,
          success: function(response) {
            var heats = response.data;
            heats.forEach(function (item, index) {
              try {
                  var arrow = L.polyline([item[0],
                   item[1]], {color: item[3],
                        vertices: 200 ,
                        weight: item[2],
                        opacity: 0.5});//.addTo(map);
                  
                  var arrowHead = L.polylineDecorator(arrow, {
                      patterns: [
                          {offset: '100%', repeat: 0, symbol: L.Symbol.arrowHead({pixelSize: 15, polygon: false, pathOptions: {color: item[3],stroke: true}})}
                      ]
                  });//.addTo(map);
                  
                  popUp='<table style="width:100%">\
                          <tr>\
                            <th>Origin City</th>\
                            <th>Destination City</th>\
                            <th>Standard Van 53</th>\
                            <th>Standard Reefer 53</th>\
                            <th>Standard Van 48</th>\
                            <th>Standard Reefer 48</th>\
                          </tr>\
                          <tr>\
                            <td>'+item[4][0]['origin_data']+'</td>\
                            <td>'+item[4][0]['destination_data']+'</td>\
                            <td>'+item[4][0]['Standard Van 53']+'</td>\
                            <td>'+item[4][0]['Standard Reefer 53']+'</td>\
                            <td>'+item[4][0]['Standard Van 48']+'</td>\
                            <td>'+item[4][0]['Standard Reefer 48']+'</td>\
                          </tr>\
                        </table>';
                  tmp=arrow.bindTooltip(popUp);
                  tmp.addTo(arc_group);
                  tmp.openPopup();
                  tmp=arrowHead.bindTooltip(popUp);
                  tmp.addTo(arc_group);
                  tmp.openPopup();
                  
              }
              catch(err) {
                console.log(err);
              }

            });


          },
          error: function(xhr) {
          //Do Something to handle error
            console.log("");
          }
    });

map.addLayer(arc_group);

var heatLayer = L.featureGroup();

$.ajax({
      url: "{% url 'just_map_v2_heat_api' %}",
      type: "get", //send it through get method
      // data: { lat: lat, lon: lon, dist: dist} ,
      success: function(response) {
        var heat_r = response.receiver;
        var heatr = L.heatLayer(heat_r, { radius: 30 });
        //map.addLayer(heatr);
        heatr.addTo(heatLayer);
        var heat_s = response.shipper;
        var heats = L.heatLayer(heat_s, { radius: 30 });
        //map.addLayer(heatr);
        heats.addTo(heatLayer);
      },
      error: function(xhr) {
      //Do Something to handle error
        console.log("");
      }
});
map.addLayer(heatLayer);


var circlesList=[]
var circle;
var circles;
var circleLayer = L.featureGroup();
$.ajax({
      url: "{% url 'just_map_v2_circles' %}",
      type: "get", //send it through get method
      // data: { lat: lat, lon: lon, dist: dist} ,
      success: function(response) {
        circles = response.circles;
        circles.forEach(function (item, index) {
          try{
            circle=L.circle(item[0], {radius: item[1]*100000})
            // circle.addTo(map);
            circle.addTo(circleLayer);
            circlesList.push(circle);

          }
          catch (err){
            console.log("");
          }

        });
      },
      error: function(xhr) {
      //Do Something to handle error
        console.log("");
      }
});
map.addLayer(circleLayer);
circleLayer.on('click', function(){
if(map.hasLayer(circleLayer)){
map.removeLayer(circleLayer);
console.log(circleLayer);
}
})
function addOption(selectbox,text,value ){
  var optn = document.createElement("OPTION");
  optn.text = text;
  optn.value = value;
  selectbox.options.add(optn);
}


function updateMapItems(value) {
    var select1 = document.getElementById("customer-select");
    var select2 = document.getElementById("shipper-select");
    var select3 = document.getElementById("receiver-select");
    var customer=select1.value;
    var shipper= select2.value;
    var receiver= select3.value;
    map.removeLayer(arc_group);
    arc_group = L.featureGroup();
    var tmp1;
    var popUp;
    var i;
    var option = document.createElement("option");
    
    if(select2.options.length > 0) {
      while (select2.options.length>0) {
        select2.remove(0);
        }
      select2 = document.getElementById("shipper-select");
      option.text = "x";
      select2.add(option);
    }
    if(select3.options.length > 0) {
      while (select3.options.length>0) {
        select3.remove(0);
        }
      select3 = document.getElementById("receiver-select");
      option.text = "x";
      select3.add(option);
    }
    console.log(select2);
    select1 = document.getElementById("customer-select");
    select2 = document.getElementById("shipper-select");
    select3 = document.getElementById("receiver-select");
    customer=select1.value;
    shipper= select2.value;
    receiver= select3.value;
    $.ajax({
          url: "{% url 'just_map_v2_api' %}",
          type: "get", //send it through get method
          data: { customer: customer, shipper:shipper, receiver:receiver} ,
          success: function(response) {
            var heats = response.data;
            var shipperz = response.shippers;
            var receiverz = response.receivers;
            heats.forEach(function (item, index) {
              try {
                  var arrow = L.polyline([item[0],
                   item[1]], {color: item[3],
                        vertices: 200 ,
                        weight: item[2],
                        opacity: 0.5});//.addTo(map);
                  var arrowHead = L.polylineDecorator(arrow, {
                      patterns: [
                          {offset: '100%', repeat: 0, symbol: L.Symbol.arrowHead({pixelSize: 15, polygon: false, pathOptions: {color: item[3],stroke: true}})}
                      ]
                  });//.addTo(map);
                  
                  popUp='<table style="width:100%">\
                          <tr>\
                            <th>Origin City</th>\
                            <th>Destination City</th>\
                            <th>Standard Van 53</th>\
                            <th>Standard Reefer 53</th>\
                            <th>Standard Van 48</th>\
                            <th>Standard Reefer 48</th>\
                          </tr>\
                          <tr>\
                            <td>'+item[4][0]['origin_data']+'</td>\
                            <td>'+item[4][0]['destination_data']+'</td>\
                            <td>'+item[4][0]['Standard Van 53']+'</td>\
                            <td>'+item[4][0]['Standard Reefer 53']+'</td>\
                            <td>'+item[4][0]['Standard Van 48']+'</td>\
                            <td>'+item[4][0]['Standard Reefer 48']+'</td>\
                          </tr>\
                        </table>';
                  tmp1=arrow.bindTooltip(popUp);
                  tmp1.addTo(arc_group);
                  tmp1.openPopup();
                  tmp1=arrowHead.bindTooltip(popUp);
                  tmp1.addTo(arc_group);
                  tmp1.openPopup();

              }
              catch(err) {
                console.log(err);
              }
             

            });
        select2 = document.getElementById("shipper-select");
        select3 = document.getElementById("receiver-select");
             for(var j = 0; j < shipperz.length; j++)
             {
                 var option1 = document.createElement("option"),
                     txt = document.createTextNode(shipperz[j]);
                 option1.appendChild(txt);
                 option1.setAttribute("value",shipperz[j]);
                 select2.insertBefore(option1,select2.lastChild);
                // var el = document.createElement("option");
                // var opt = shipperz[i];
                // el.textContent = opt;
                // el.value = opt;
                // select2.appendChild(el);

             }
         for(var k = 0; k < receiverz.length; k++)
             {
                 var option2 = document.createElement("option"),
                     txt = document.createTextNode(receiverz[k]);
                 option2.appendChild(txt);
                 option2.setAttribute("value",receiverz[k]);
                 select3.insertBefore(option2,select3.lastChild);
                // var el = document.createElement("option");
                // var opt = receiverz[i];
                // el.textContent = opt;
                // el.value = opt;
                // select3.appendChild(el);
             }
          },
          error: function(xhr) {
          //Do Something to handle error
            console.log(xhr);
          }
    });
    map.addLayer(arc_group);

    map.removeLayer(circleLayer);
    circleLayer = L.featureGroup();
    $.ajax({
          url: "{% url 'just_map_v2_circles' %}",
          type: "get", //send it through get method
          data: { customer: customer, shipper:shipper, receiver:receiver} ,
          success: function(response) {
            circles = response.circles;
            circles.forEach(function (item, index) {
              try{
                circle=L.circle(item[0], {radius: item[1]*100000})
                // circle.addTo(map);
                circle.addTo(circleLayer);

              }
              catch (err){
                console.log("");
              }

            });
          },
          error: function(xhr) {
          //Do Something to handle error
            console.log("");
          }
    });
    map.addLayer(circleLayer);


    map.removeLayer(heatLayer);
    heatLayer = L.featureGroup();

    $.ajax({
          url: "{% url 'just_map_v2_heat_api' %}",
          type: "get", //send it through get method
          data: { customer: customer, shipper:shipper, receiver:receiver} ,
          success: function(response) {
            var heat_r = response.receiver;
            var heatr = L.heatLayer(heat_r, { radius: 30 });
            //map.addLayer(heatr);
            heatr.addTo(heatLayer);
            var heat_s = response.shipper;
            var heats = L.heatLayer(heat_s, { radius: 30 });
            //map.addLayer(heatr);
            heats.addTo(heatLayer);
          },
          error: function(xhr) {
          //Do Something to handle error
            console.log("");
          }
    });
    map.addLayer(heatLayer);
    console.log(select2);
   // else if (shipper.options.length > 0) {
   //  //  block of code to be executed if the condition1 is false and condition2 is true
   //  }
}
function updateArcs(value) {
    var select1 = document.getElementById("customer-select");
    var select2 = document.getElementById("shipper-select");
    var select3 = document.getElementById("receiver-select");
    var customer=select1.value;
    var shipper= select2.value;
    var receiver= select3.value;
    map.removeLayer(arc_group);
    arc_group = L.featureGroup();
    var tmp1;
    var popUp;

    $.ajax({
          url: "{% url 'just_map_v2_api' %}",
          type: "get", //send it through get method
          data: { customer: customer, shipper:shipper, receiver:receiver} ,
          success: function(response) {
            var heats = response.data;
            var shipperz = response.shippers;
            var receiverz = response.receivers;
            heats.forEach(function (item, index) {
              try {
                  var arrow = L.polyline([item[0],
                   item[1]], {color: item[3],
                        vertices: 200 ,
                        weight: item[2],
                        opacity: 0.5});//.addTo(map);
                  var arrowHead = L.polylineDecorator(arrow, {
                      patterns: [
                          {offset: '100%', repeat: 0, symbol: L.Symbol.arrowHead({pixelSize: 15, polygon: false, pathOptions: {color: item[3],stroke: true}})}
                      ]
                  });//.addTo(map);
                  
                  popUp='<table style="width:100%">\
                          <tr>\
                            <th>Origin City</th>\
                            <th>Destination City</th>\
                            <th>Standard Van 53</th>\
                            <th>Standard Reefer 53</th>\
                            <th>Standard Van 48</th>\
                            <th>Standard Reefer 48</th>\
                          </tr>\
                          <tr>\
                            <td>'+item[4][0]['origin_data']+'</td>\
                            <td>'+item[4][0]['destination_data']+'</td>\
                            <td>'+item[4][0]['Standard Van 53']+'</td>\
                            <td>'+item[4][0]['Standard Reefer 53']+'</td>\
                            <td>'+item[4][0]['Standard Van 48']+'</td>\
                            <td>'+item[4][0]['Standard Reefer 48']+'</td>\
                          </tr>\
                        </table>';
                  tmp1=arrow.bindTooltip(popUp);
                  tmp1.addTo(arc_group);
                  tmp1.openPopup();
                  tmp1=arrowHead.bindTooltip(popUp);
                  tmp1.addTo(arc_group);
                  tmp1.openPopup();

              }
              catch(err) {
                console.log(err);
              }
             

            });

          },
          error: function(xhr) {
          //Do Something to handle error
            console.log(xhr);
          }
    });
    map.addLayer(arc_group);

    map.removeLayer(circleLayer);
    circleLayer = L.featureGroup();
    $.ajax({
          url: "{% url 'just_map_v2_circles' %}",
          type: "get", //send it through get method
          data: { customer: customer, shipper:shipper, receiver:receiver} ,
          success: function(response) {
            circles = response.circles;
            circles.forEach(function (item, index) {
              try{
                circle=L.circle(item[0], {radius: item[1]*100000})
                // circle.addTo(map);
                circle.addTo(circleLayer);

              }
              catch (err){
                console.log("");
              }

            });
          },
          error: function(xhr) {
          //Do Something to handle error
            console.log("");
          }
    });
    map.addLayer(circleLayer);


    map.removeLayer(heatLayer);
    heatLayer = L.featureGroup();

    $.ajax({
          url: "{% url 'just_map_v2_heat_api' %}",
          type: "get", //send it through get method
          data: { customer: customer, shipper:shipper, receiver:receiver} ,
          success: function(response) {
            var heat_r = response.receiver;
            var heatr = L.heatLayer(heat_r, { radius: 30 });
            //map.addLayer(heatr);
            heatr.addTo(heatLayer);
            var heat_s = response.shipper;
            var heats = L.heatLayer(heat_s, { radius: 30 });
            //map.addLayer(heatr);
            heats.addTo(heatLayer);
          },
          error: function(xhr) {
          //Do Something to handle error
            console.log("");
          }
    });
    map.addLayer(heatLayer);
}

// var arcsLines = L.layerGroup(arc_lines);
// var heatLines = L.layerGroup(heatsLayer);

// var map = L.map('map',{layers: [mapbox, arcsLines,heatLines]}).setView([41.25861, -95.9375], 13);      
// map.setZoom(12);
// var baseMaps = {
//     "Mapbox": mapbox
// };

// var overlayMaps = {
//     "ArcsLines": arcsLines,
//     "HeatLines": heatLines
// };

// L.control.layers(baseMaps,overlayMaps).addTo(map);
  </script>
</body>
</html>